button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #000000;
    padding: 0.5vh 1vh;
    border-radius: 25px;
    font-size: 12px;
    width: 15vh;
    min-width: 0;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
}